.shiny-notification {
             position: fixed;
             top: calc(10%);
             left: calc(40%);
             }
             
#accessdata .node {
  color: blue;
}

#noaccessdata {
  background: none;
  border: 0;
}

#noaccessdata .node {
  color: dimgray;
}

#helpUpload {
  background: none;
  border: 0;
  width: 15px;
}

.top-options {
  height: 100px;
}

.forceInline {
  display: inline-block;
  vertical-align:top;
}

