.forceInline {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

#cellpackpanel {
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: white;
  padding: 0 20px 30px 20px;
  z-index: 3;
  -webkit-box-shadow: 0 1px 2px lightgray;
	-moz-box-shadow: 0 2px 1px lightgray;
	box-shadow: 0 2px 1px lightgray;
}

.progress-bar {
  background-color: MediumSpringGreen;
  color: black;
}

/*
Match app
*/

.covariate {
  color: black;
  font-family: Consolas,monaco,monospace;
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  padding: 3px 8px;
  border: 0;
  border-radius: 3px;
  vertical-align: middle;
  cursor: grab;
  display: inline-block;
  margin: 2px 2px 2px 2px;
}

.used {
  background: PaleGreen;
}

.unused {
  background: gainsboro;
}

.ui-sortable {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}

#overlap {
  border-right: black 2px;
  border-left: black 2px;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

#refAttributes {
 margin-left: auto;
 margin-right: auto;
 vertical-align: middle;
}

#extAttributes {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

#explore-matchedAttrs {
  background-color: lemonchiffon;
}

.custom-highlight {
  background-color: white;
}

.subgroups-panel {
  display: inline-block;
  width: 600px;
  height: 800px;
  border-radius: 4px;
  padding: 10px;
  background: white;
  margin: 5px;
  border: 2px solid gray;
}
