/* General -------------------------------------------------------------------------*/

body {
  /* Disables pull-to-refresh and overscroll glow effect. */
  overflow-x: hidden;
}


/* Theming Overrides ----------------------------------------------------------------*/

.progress-bar {
  background-color: MediumSpringGreen;
  color: transparent;
}

.dropdown-menu {
  font-size: 16px;
  font-weight: bold;
}


/* Custom Components ----------------------------------------------------------------*/

/* Panels ------*/
.top-panel {
  background-color: WhiteSmoke;
  margin-top: -50px;
  margin-left: -50px;
  margin-right: -50px;
}

.input-panel {
  display: inline-block;
  vertical-align: top;
  min-height: 100px;
  padding: 40px 40px 30px 40px;
  margin-right: 20px;
}

.card-panel {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 30px;
  margin-left: 30px;
  background: white;
  min-height: 150px;
}

.panel-header {
  color: gray;
  font-size: 12px;
  margin-bottom: 15px;
}

.cellpack-panel {
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: white;
  padding: 0 20px 30px 20px;
  z-index: 3;
  -webkit-box-shadow: 0 1px 2px lightgray;
	-moz-box-shadow: 0 2px 1px lightgray;
	box-shadow: 0 2px 1px lightgray;
}

/* Display ------*/
.ui-inline {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.firm-feedback {
  font-weight: bold;
}

.dive-loader{
  position: fixed;
  top: calc(50%);
  left: calc(50%);
}

.status-update {
 font-style: italic;
}


/* Matrix Module --------------------------------------------------------------------*/


.matrix-output {
  flex: 4 0 75vw;
}

.matrix-options {
  margin-left: 40px;
}

.drilldown-ui {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-top: 5px solid lightgray;
  padding: 40px 20px 20px 20px;
  z-index: 10;
  flex: 0 1 25vw;
  max-width: 25vw;
}

.drilldown-ui:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
  cursor: grab;
}

.dock {
  background-color: ghostwhite;
  display: inline-block;
}

/* Match Module ---------------------------------------------------------------------*/


#matchVarBank, #matchVarLinked {
  width: 400px;
  margin-left: 30px;
  padding: 30px;
  border: darkgray dashed 1px;
}

.covariate {
  color: black;
  font-family: Consolas,monaco,monospace;
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  padding: 3px 8px;
  border: 0;
  border-radius: 3px;
  vertical-align: middle;
  cursor: grab;
  display: inline-block;
  margin: 2px 2px 2px 2px;
}

.used {
  background: PaleGreen;
}

.used:hover {
  background: #2196f3;
  color: white;
}

.un-used {
  background: gainsboro;
}

.ui-sortable {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}

.large-name {
  color: #444444;
  font-size: 34px;
}


#overlap {
  border-right: black 2px;
  border-left: black 2px;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

#refAttributes {
 margin-left: auto;
 margin-right: auto;
 vertical-align: middle;
}

#extAttributes {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}


.custom-highlight {
  background-color: white;
}

/* MutiVUI Module -----------------------------------------------------------------------*/


.xV-container {
  margin-bottom: 30px;
}

.xVUI {

}

.xVUI-ctrl {
  margin-bottom: 10px;
}


.subgroups-panel {
  background-color: WhiteSmoke;
  display: inline-block;
  width: 600px;
  height: 800px;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  /* border: 2px solid gray; */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
