body {
  /* Disables pull-to-refresh and overscroll glow effect. */
  overflow-x: hidden;
}

.forceInline {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.card {
  position: fixed;
  z-index: 999;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 30px;
}

#matrixOutput {

}

#drilldownOutput {
  margin-top: 20px;
  margin-right: 20px;
}

#cellpackpanel {
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: white;
  padding: 0 20px 30px 20px;
  z-index: 3;
  -webkit-box-shadow: 0 1px 2px lightgray;
	-moz-box-shadow: 0 2px 1px lightgray;
	box-shadow: 0 2px 1px lightgray;
}

.progress-bar {
  background-color: MediumSpringGreen;
  color: transparent;
}

/*
Match app
*/

.covariate {
  color: black;
  font-family: Consolas,monaco,monospace;
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  padding: 3px 8px;
  border: 0;
  border-radius: 3px;
  vertical-align: middle;
  cursor: grab;
  display: inline-block;
  margin: 2px 2px 2px 2px;
}

.used {
  background: PaleGreen;
}

.used:hover {
  background: #2196f3;
  color: white;
}

.unused {
  background: gainsboro;
}

.ui-sortable {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}

.large-name, #match-CohortX-name {
  color: #444444;
  font-size: 34px;
}


#overlap {
  border-right: black 2px;
  border-left: black 2px;
  border-radius: 10%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

#refAttributes {
 margin-left: auto;
 margin-right: auto;
 vertical-align: middle;
}

#extAttributes {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

#explore-matchedAttrs {
  background-color: lemonchiffon;
}

.custom-highlight {
  background-color: white;
}

.multiVUI-ctrl-head {
  background-color: WhiteSmoke;
  margin-top: -50px;
  margin-left: -50px;
  margin-right: -50px;
}

.multiVCtrlUI {
  margin-top: 30px;
  margin-bottom:20px;
  margin-right:100px
}

.subgroups-panel {
  background-color: WhiteSmoke;
  display: inline-block;
  width: 600px;
  height: 800px;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  /* border: 2px solid gray; */
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
