/* General -------------------------------------------------------------------------*/

body {
  /* Disables pull-to-refresh and overscroll glow effect. */
  overflow-x: hidden;
}


/* Theming Overrides ----------------------------------------------------------------*/

.progress-bar {
  background-color: MediumSpringGreen;
  color: transparent;
}

.dropdown-menu {
  font-size: 16px;
  font-weight: bold;
}


/* Custom Components ----------------------------------------------------------------*/

/* Custom panels ------*/
.top-panel {
  background-color: WhiteSmoke;
  margin-top: -50px;
  margin-left: -50px;
  margin-right: -50px;
}

.input-panel {
  display: inline-block;
  vertical-align: top;
  min-height: 100px;
  padding: 30px 40px 30px 40px;
  margin-right: 20px;
}

.card-panel {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 30px;
  margin-left: 30px;
  background: white;
  min-height: 150px;
}

.panel-header {
  color: gray;
  font-size: 12px;
  margin-bottom: 15px;
}

.cellpack-panel {
  border: 1px solid lightgray;
  border-radius: 4px;
  background-color: white;
  padding: 0 20px 30px 20px;
  z-index: 3;
  -webkit-box-shadow: 0 1px 2px lightgray;
	-moz-box-shadow: 0 2px 1px lightgray;
	box-shadow: 0 2px 1px lightgray;
}

/* Display and formatting ------*/
.ui-inline {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}

.firm-feedback {
  font-weight: bold;
}

.dive-loader {
  position: fixed;
  top: calc(50%);
  left: calc(50%);
}

.status-update {
 font-style: italic;
}

.theme-border {
  border-top:3px solid lightgray;
}

.panel-label {
  padding: 5px;
  font-family: Oxygen;
  margin-right: 10px;
  font-size: 20px;
}


/* Matrix Module --------------------------------------------------------------------*/

.matrixMain-options {
  margin-left: 40px;
}

.dualDrilldown {
  background-color: white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border-top: 5px solid lightgray;
  padding: 40px 20px 20px 20px;
  z-index: 10;
  flex: 0 1 25vw;
  max-width: 25vw;
}

.dualDrilldown:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.12), 0 3px 6px rgba(0,0,0,0.24);
  cursor: grab;
}

.dock {
  background-color: ghostwhite;
  display: inline-block;
}


/* Match Module ---------------------------------------------------------------------*/

.varBank, .varSets {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  margin-left: 30px;
  padding: 10px 30px 30px 30px;
  border: darkgray dashed 1px;
}

.covariate {
  color: black;
  font-family: Consolas,monaco,monospace;
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
  text-decoration: none;
  padding: 3px 8px;
  border: 0;
  border-radius: 3px;
  vertical-align: middle;
  cursor: grab;
  display: inline-block;
  margin: 2px 2px 2px 2px;
}

.used, .used:active {
  background: PaleGreen;
}

.used:hover {
  background: #2196f3;
  color: white;
}

.un-used {
  background: gainsboro;
}

.ui-sortable {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}


/* DataHelper Module ---------------------------------------------------------------------*/

.custom-highlight {
  background-color: white;
}


/* MutiVUI Module -----------------------------------------------------------------------*/

.xV-container {
  margin-bottom: 30px;
}

/* Shift top controls closer to plot, cancel out excessive default padding --*/
.xVUI-ctrl-panel {
  position: relative;
  margin-bottom: -30px;
  z-index: 5;
}

/*
.subgroupVUI-panel {
  z-index: 10;
  background-color: white;
  display: inline-block;
  width: 600px;
  height: 800px;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
--*/
