.used {
  background: PaleGreen;
}

.used:hover {
  background: #2196f3;
  color: white;
}

.un-used {
  background: gainsboro;
}

.ui-sortable {
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
}
